*{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

/*Header section*/

header .navbar{
    background: green;
    background: linear-gradient(90deg, green, lightgreen);
}

header .navbar h1{
    align-items: center;
    justify-content: left;
    padding-right: 13rem;
}

header .navbar h1 a{
    font-family: 'Times New Roman', Times, serif;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: 3rem;
    color: lightgreen;
    align-items: center;
}

header .navbar h1 a:hover{
    cursor: pointer;
    color: greenyellow;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    padding: 1rem;
    padding-bottom: 1rem;
}

header .navbar ul li{
    margin: 1.2rem;
}

header .navbar ul li a{
    color: rgb(21, 61, 21);
}

header .navbar ul li a:hover{
    color: beige;
    cursor: pointer;
}

/*Home page section*/

.home{
    min-height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    background: url(images/plant.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

/*Home page photos*/

.home .container_box{
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    /*padding: .5rem 0;*/
    /*margin-left: 13rem;*/
    justify-content: center;
}

.home .container_box .box{
   /* margin: .5rem;*/
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /*padding: 1rem;*/
    width: 10rem;
    height: 14rem;
    box-shadow: 0 0 0 1.1rem rgba(0, 0, 0, 0.466);
}

.home .container_box .box img{
    width: 100%;
    height: 100%;
}

/*Call to action home section*/

.action{
    
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    flex-wrap: wrap;
}

.action .content{
    flex: 1 1 40rem;
    display: block;
    background-color: beige;
    align-items: center;
    text-align: left;
}

.action .content h1{
    color: rgb(23, 82, 23);
    margin-top: 1rem;
    margin-left: 2rem;
    padding: 5px;
    font-size: 70px;
}

.action .content p{
    color: darkolivegreen;
    font-size: 30px;
    margin-left: 2rem;
    padding: 5px;
}

/*Fix photo to the right of text*/

.action .content .image{
    float: right;
    display: flex;
}

.action .content .image img{
    width: 40%;
    height: 40%;
    display: flex;
    float: right;
}



/*About page section*/

.about{
    min-height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    background: url(images/plant.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}
