*{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

header .navbar{
    background: green;
    background: linear-gradient(90deg, green, lightgreen);
}

header .navbar h1{
    font-family: 'Times New Roman', Times, serif;
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: 3rem;
    color: lightgreen;
    padding-right: 18rem;
    text-align: left;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    padding: 1rem;
    padding-bottom: 1rem;
}

header .navbar ul li{
    margin: 1.2rem;
    color: rgb(21, 61, 21);
}

/*Home page section*/

.home{
    min-height: 100vh;
    display: flex;
    /*align-items: center;*/
    justify-content: space-around;
    background: url(images/plant.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-wrap: wrap;
}

.home .content{
    flex: 1 1 40rem;
}

.home .content h1{
    color: rgb(23, 82, 23);
    align-items: left;
    padding: 1rem;
    margin-top: 2rem;
}

.home .container_box{
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    /*padding: .5rem 0;*/
    /*margin-left: 13rem;*/
    justify-content: center;
}

/*Home page photos*/

.home .container_box .box{
   /* margin: .5rem;*/
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    /*padding: 1rem;*/
    width: 10rem;
    height: 14rem;
    box-shadow: 0 0 0 1.1rem rgba(0,0,0,0.3);
}

.home .container_box .box img{
    width: 100%;
    height: 100%;
}

